@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bahiana&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --white: white;
  --red: red;
  --grey: #1B1B1B;
  --font-one: "Amarante", serif;
  --font-two: "Bahiana", sans-serif;
  --font-three : "Roboto", sans-serif;
  --darkgray : rgb(10, 10, 10);
}

.page-width {
  max-width: calc(1600px - 80px);
  margin: auto;
}

h2.subheading{
  color: var(--red);
  font-family: var(--font-one);
  font-size: 40px;
  letter-spacing: 3px;
}

.banner-section {
  height: 850px;
  background-image: url("../media/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  background-color: var(--grey);
  height: 90px;
  background: transparent;
}

.logo-image {
  display: flex;
  align-items: center;
  height: 90px;
}

.logo-image a {
  width: 90px;
}

.navs {
  display: flex;
  gap: 75px;
  list-style: none;
  margin-left: 30px;
}

.navs a {
  font-family: var(--font-one);
  font-size: 18px;
  color: var(--white);
}

h1.logo-text {
  font-size: 45px;
  font-family: var(--font-one);
  letter-spacing: 2px;
}

.logo-text a {
  color: var(--white);
}

.logo-text span {
  color: var(--red);
  margin-left: 10px;
}

.header-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

ul.nav-icons {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: space-between;
  border: 1px solid var(--red);
  padding: 4px 30px;
  border-radius: 10px;
  padding-top: 7px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.person-image img {
  height: 100%;
  width: 449px;
}

p.qoutes {
  color: var(--white);
  font-family: var(--font-two);
  font-size: 80px;
}

p.nothing {
  color: var(--red);
  font-size: 96px;
  font-family: var(--font-one);
}

.text-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 61px;
  padding-left: 12px;
}

p.power-text {
  color: var(--white);
  font-family: var(--font-one);
  font-size: 48px;
  text-align: center;
}

.power-line-section {
  background-color: black;
  padding: 60px 0px;
}

/* project-section */

.card{
  width: 380px;
  height: 400px;
  background-color: var(--grey);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  border: 1px solid red;
}

.card-content{
  position: relative;
  padding: 20px;
  background: black;
  color: var(--white);
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transform: translateY(55%);
  transition: all 0.3s;
}
.card-content::before{
  content: '';
  position: absolute;
  top: -52px;
  right: -48px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px black;
}

.card-subtitle{
  padding-bottom: 30px;
  font-size: 15px;
  font-family: var(--font-three);
}

.card-subtitle,
.card-discription{
  color: grey;
  font-family: var(--font-three);
}

.card-content:hover{
  transform: translateY(0);
}

.card-title{
  font-size: 30px;
  font-family: var(--font-three);
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    list-style: none;
    grid-gap: 80px;
}
.projects-cards {
    padding: 0px 100px;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
section.project-section {
    padding: 80px 0px;
    background-color: var(--darkgray);
}

