@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bahiana&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --white: white;
  --red: red;
  --grey: #1B1B1B;
  --font-one: "Amarante", serif;
  --font-two: "Bahiana", sans-serif;
  --font-three: "Roboto", sans-serif;
  --darkgray: rgb(10, 10, 10);
}

.page-width {
  max-width: calc(1600px - 80px);
  margin: auto;
}

h2.subheading {
  color: var(--red);
  font-family: var(--font-one);
  font-size: 40px;
  letter-spacing: 3px;
}

.banner-section {
  height: 850px;
  background-image: url("../media/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  background-color: var(--grey);
  height: 90px;
  background: transparent;
}

.logo-image {
  display: flex;
  align-items: center;
  height: 90px;
}

.logo-image a {
  width: 90px;
}

.navs {
  display: flex;
  gap: 75px;
  list-style: none;
  margin-left: 30px;
}

.navs a {
  font-family: var(--font-one);
  font-size: 18px;
  color: var(--white);
}

h1.logo-text {
  font-size: 45px;
  font-family: var(--font-one);
  letter-spacing: 2px;
}

.logo-text a {
  color: var(--white);
}

.logo-text span {
  color: var(--red);
  margin-left: 10px;
}

.header-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

ul.nav-icons {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: space-between;
  border: 1px solid var(--red);
  padding: 4px 30px;
  border-radius: 10px;
  padding-top: 7px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.person-image img {
  height: 100%;
  width: 449px;
}

p.qoutes {
  color: var(--white);
  font-family: var(--font-two);
  font-size: 80px;
}

p.nothing {
  color: var(--red);
  font-size: 96px;
  font-family: var(--font-one);
}

.text-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 61px;
  padding-left: 12px;
}

p.power-text {
  color: var(--white);
  font-family: var(--font-one);
  font-size: 48px;
  text-align: center;
}

.power-line-section {
  background-color: black;
  padding: 60px 0px;
}

/* project-section */

.card {
  width: 380px;
  height: 400px;
  background-color: var(--grey);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  border: 1px solid red;
}

.card-content {
  position: relative;
  padding: 20px;
  background: black;
  color: var(--white);
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transform: translateY(55%);
  transition: all 0.3s;
}

.card-content::before {
  content: '';
  position: absolute;
  top: -52px;
  right: -48px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px black;
}

.card-subtitle {
  padding-bottom: 30px;
  font-size: 15px;
  font-family: var(--font-three);
}

.card-subtitle,
.card-discription {
  color: grey;
  font-family: var(--font-three);
}

.card-content:hover {
  transform: translateY(0);
}

.card-title {
  font-size: 30px;
  font-family: var(--font-three);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  list-style: none;
  grid-gap: 80px;
}

.projects-cards {
  padding: 0px 100px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

section.project-section {
  padding: 80px 0px;
  background-color: var(--darkgray);
}

.page-button a {
  background: var(--red);
  padding: 10px 30px;
  border-radius: 50px;
  color: var(--white);
  font-size: 20px;
  font-family: var(--font-three);
  transition: all 0.3s;
}

.page-button a:hover {
  background: black;
  border: 1px solid red;
}

/* -------------------------------- humbugur css --------------------------------- */

.hamburgur-container {
  position: fixed;
  z-index: 999;
  background-color: #282828;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  max-width: 364px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  right: -370px;
  top: 15px;
  transition: .3s;
}

.menu-icon-box {
  display: flex;
  justify-content: space-between;
}

.menu-icon-box span {
  color: #ffffff;
  font-family: var(--font-one);
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.list-container {
  height: 700px;
  padding: 10px;
  background-color: #575757;
  border-radius: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.hamburgur-container-list {
  padding-left: 0;
}

.hamburgur-container-list .hamburgur-list {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  list-style: none;
}

.hamburgur-container-list .hamburgur-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
}

.hamburgur-container-list .hamburgur-list a {
  text-decoration: none;
  font-family: var(--font-three);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.hamburgur-container-img {
  width: 280px;
}





h2.subheading {
  color: var(--red);
  font-family: var(--font-one);
  font-size: 40px;
  letter-spacing: 3px;
}

.banner-section {
  height: 850px;
  background-image: url("../media/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  background-color: var(--grey);
  height: 90px;
  background: transparent;
}

.logo-image {
  display: flex;
  align-items: center;
  height: 90px;
}

.logo-image a {
  width: 90px;
}

.navs {
  display: flex;
  gap: 75px;
  list-style: none;
  margin-left: 30px;
}

.navs a {
  font-family: var(--font-one);
  font-size: 18px;
  color: var(--white);
}

h1.logo-text {
  font-size: 45px;
  font-family: var(--font-one);
  letter-spacing: 2px;
}

.logo-text a {
  color: var(--white);
}

.logo-text span {
  color: var(--red);
  margin-left: 10px;
}

.header-logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

ul.nav-icons {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: space-between;
  border: 1px solid var(--red);
  padding: 4px 30px;
  border-radius: 10px;
  padding-top: 7px;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.person-image img {
  height: 100%;
  width: 449px;
}

p.qoutes {
  color: var(--white);
  font-family: var(--font-two);
  font-size: 80px;
}

p.nothing {
  color: var(--red);
  font-size: 96px;
  font-family: var(--font-one);
}

.text-with-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 61px;
  padding-left: 12px;
}

p.power-text {
  color: var(--white);
  font-family: var(--font-one);
  font-size: 48px;
  text-align: center;
}

.power-line-section {
  background-color: black;
  padding: 60px 0px;
}

/* project-section */

.card {
  width: 380px;
  height: 400px;
  background-color: var(--grey);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  border: 1px solid red;
}

.card-content {
  position: relative;
  padding: 20px;
  background: black;
  color: var(--white);
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transform: translateY(55%);
  transition: all 0.3s;
}

.card-content::before {
  content: '';
  position: absolute;
  top: -52px;
  right: -48px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  box-shadow: inset -48px -48px black;
}

.card-subtitle {
  padding-bottom: 30px;
  font-size: 15px;
  font-family: var(--font-three);
}

.card-subtitle,
.card-discription {
  color: grey;
  font-family: var(--font-three);
}

.card-content:hover {
  transform: translateY(0);
}

.card-title {
  font-size: 30px;
  font-family: var(--font-three);
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  list-style: none;
  grid-gap: 80px;
}

.projects-cards {
  padding: 0px 100px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

section.project-section {
  padding: 80px 0px;
  background-color: var(--darkgray);
}

.page-button a {
  background: var(--red);
  padding: 10px 30px;
  border-radius: 50px;
  color: var(--white);
  font-size: 20px;
  font-family: var(--font-three);
  transition: all 0.3s;
}

.page-button a:hover {
  background: black;
  border: 1px solid red;

}


/* mail box css */

.mail-form-wrapper {
  background-image: url(../media/mail-box--banner.jpg);
  height: 788px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
  position: relative;
  font-family: roboto;
  background-color: #101010;
}

.mail-bpx--empty-place {
  height: 428px;
  background-color: #101010;
}

.mail-form-grid {
  max-width: 1255px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 60%);
}

.mail-form-grid form {
  flex-direction: column;
  display: flex;
  gap: 20px
}

.mail-form-inner {
  position: relative;
}

.form-left-section {
  background-color: #282828;
  padding: 30px 170px 60px 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px 0px 0px 30px;
}


.form-right-section {
  background-color: #000;
  width: 504px;
  border-radius: 0px 30px 30px 0px;
  position: relative;
}

.form--name-email input,
.form--other-input input {
  border-radius: 50px;
  padding: 15px 15px;
  font-size: 20px;
  outline: none;
  border: none;
  color: red;
  transition: 0.3s;
  background-color: #D9D9D9;
  width: 100%;
}

.form--name-email input:hover,
.form--other-input input:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(245, 39, 39, 0.49);
  background-color: white;
}

.form--other-input input {
  max-width: 245px;
}

.form--name-email input::placeholder,
.form--other-input input::placeholder {
  color: red
}

.form--name-email {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form--other-input {
  display: flex;
  justify-content: space-between;
  gap: 20px
}

.form--description-box textarea {
  height: 175px;
  border-radius: 20px;
  padding: 30px 15px;
  font-size: 20px;
  outline: none;
  border: none;
  width: 504px;
  background-color: #D9D9D9;
}

.mail-form--button button {
  padding: 15px 30px;
  background: #FE0707;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  border-radius: 999px;
  border: 1px solid #0000;
  transition: 0.3s;
}

.mail-form--button button:hover {
  background: black;
  border: 1px solid red;
  color: white;
}

.mail-form--button button svg {
  transition: 0.3s;
}

.mail-form--button button:hover svg {
  fill: white;
  transform: rotate(45deg);
}

.form--form-heading span {
  color: white;
  font-size: 36px;
  display: inline-block;
}

.form-right-section--heading span {
  padding: 30px;
  font-size: 36px;
  display: inline-block;
  color: white;
}

.form-right-section--image,
.form-right-section--image-second {
  position: absolute;
  width: 258px;
  height: 258px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.3s;
}

.form-right-section--image-second {
  opacity: 0;
}

.form-right-section:hover .form-right-section--image-second {
  opacity: 1;
}

.form-right-section:hover .form-right-section--image {
  opacity: 0;
}

/* card-animation */

.team-section {
  height: 800px;
  background: var(--grey);
  padding: 80px 0px;
}

.team-inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.member-card {
  width: 300px;
  height: 420px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(2 2 2), -15px -15px 30px rgb(60, 60, 60);
  transition: all .3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 23px 20px;
}

.card-info {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

h4.name {
  color: white;
  font-family: var(--font-three);
  font-size: 23px;
}

.lines p {
  color: white;
  font-family: var(--font-three);
  font-size: 16px;
}

/* card-button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  cursor: pointer;
  color: rgb(0, 0, 0);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  width: 200px;
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(0, 0, 0);
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(90deg,
      rgb(213, 3, 255) 0%,
      rgb(255, 0, 0) 49%,
      rgb(204, 7, 82) 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(18px);
  animation: effect infinite 3s linear;
  opacity: 0.7;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-image {
  width: 130px;
}

.card-image img {
  border-radius: 999px;
}

/* icons css */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 70px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #1f1f1f;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #00ccff;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #494949;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* icons css end */

.cards-lists {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 120px;
}

/* card-button end */


/* footer css */

.footer-wrapper {
  background-color: black;
}

.footer-link-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links-heading span {
  color: red;
  font-size: 20px;
  padding-top: 60px;
  display: inline-block;
  font-family: roboto;
}

.footer-link-section ul a {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: roboto;
  transition: 0.3s;
}
.footer-link-section ul a:hover {
  text-decoration: underline;
  color:red;
}
.footer-image--logo {
  width: 200px;
  height: 200px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: red;
  font-family: Amarante;
  font-size: 48px;
  text-transform: uppercase;
}

.footer-text span {
  color: white;
}

.footer-image-text-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-inner {
  padding: 20px 60px 60px 100px
}

.footer-link--image ul li a {
  background-color: red;
  display: inline-block;
  padding: 5px 7px 1px 7px;
  border-radius: 999px;
}

.footer-link--image ul {
  grid-template-columns: repeat(4, 50px);
  display: grid;

}
.footer-link-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:40px;
}
/* footer css end --- */